In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('C:/Users/krishna/Downloads/SMSSpamCollection.csv')
df.head(10)

  Class                                                sms
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [3]:
df['Class'].value_counts()

ham     4825
spam     747
Name: Class, dtype: int64

In [4]:
df['Class'] = df['Class'].map({'ham':0, 'spam':1})

In [16]:
from sklearn.model_selection import train_test_split

X = df['sms']
y = df['Class']
X_train, X_test,y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=1)

In [17]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer(stop_words='english')

In [18]:
vect.fit(X_train)

X_train_tr = vect.transform(X_train)
X_test_tr = vect.transform(X_test)

In [19]:
X.head()

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
2    Free entry in 2 a wkly comp to win FA Cup fina...
3    U dun say so early hor... U c already then say...
4    Nah I don't think he goes to usf, he lives aro...
Name: sms, dtype: object

In [22]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import accuracy_score, roc_auc_score

bnb = BernoulliNB()

bnb.fit(X_train_tr,y_train)
y_pred = bnb.predict(X_test_tr)
y_proba = bnb.predict_proba(X_test_tr)[:,1]


print('Accuracy score on test: ',accuracy_score(y_test, y_pred))
print('Auc score on test: ',roc_auc_score(y_test, y_pred))

Accuracy score on test:  0.9730861244019139
Auc score on test:  0.9040010854489537